<!-- <a id="idHrefModal" href="#abrirModal"></a>

<div id="abrirModal" class="modal">
  <a href="#fechar" title="Fechar" class="fechar">x</a>
</div>

<script>

    if(document.getElementsByClassName("btext")[1]){
        document.getElementsByClassName("btext")[1].addEventListener("click", {
            document.getElementById("idHrefModal").click()
        })
    };
</script>

<style>
    .modal {
    position: fixed;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(147, 215, 138);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    }

    .modal:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modal > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 15px 20px;
        background: #fff;
    }
</style> -->